<main>
    <div id="contenedor">
        <div id="contenedorSuperior">
            <span id="contadorClicks">
                302</span>
            <p id="textoJuego">Haz click en la luna para acumular puntos y desbloquear runas lunares!</p>    
            <span id="contadorTiempo">
                60s
            </span>
        </div>
        <div id="contenedorCentral">
            <div id="contenedorLunar">
                <span id="luna"></span>
            </div>
        </div>
        <div id="contenedorRunas">
        </div>
    </div>
</main>