main {
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/fondo.svg);
  background-size: cover;
}

#contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedores */
#contenedorSuperior {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contenedorCentral {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorRunas {
  width: 80%;
  height: 20%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* Componentes de juego */
#contenedorLunar {
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
  animation: float 6s ease-in-out infinite;
}

#luna {
  height: 100%;
  width: 100%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/luna.svg);
  transform: translatey(0px);
  cursor: pointer;
}

#luna:active {
  transform: scale(0.95);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

#contadorClicks {
  background-image: url('../../../assets/images/contadorClicks.svg');
  height: 60%;
  width: 21%;
  background-repeat: no-repeat;
  margin-left: 2%;
  color: white;
  font-family: 'PressStart2P-Regular';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  -webkit-text-stroke: 0.3em;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.23);
}

#textoJuego {
  color: white;
  font-family: 'PressStart2P-Regular';
  text-align: center;
  font-size: 32px;
  width: 30%;
}

#contadorTiempo {
  background-image: url('../../../assets/images/contadorTiempo.svg');
  height: 60%;
  width: 21%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'PressStart2P-Regular';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  -webkit-text-stroke: 0.05em;
  -webkit-text-stroke-color: #534c70;
}

@media (min-width: 2500px) {
  #contadorClicks {
    height: 45%;
    width: 15.5%;
    font-size: 32px;
    -webkit-text-stroke: 0.3em;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.23);
  }

  #contadorTiempo {
    height: 45%;
    width: 15.5%;
    font-size: 40px;
    -webkit-text-stroke: 0.05em;
    -webkit-text-stroke-color: #534c70;
  }
}

#runa1,
#runa2,
#runa3,
#runa4,
#runa5,
#runa6 {
  height: 65%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#runa1 {
  background-image: url('../../../assets/images/runa1.svg');
}

#runa2 {
  background-image: url('../../../assets/images/runa2.svg');
}

#runa3 {
  background-image: url('../../../assets/images/runa3.svg');
}

#runa4 {
  background-image: url('../../../assets/images/runa4.svg');
}

#runa5 {
  background-image: url('../../../assets/images/runa5.svg');
}

#runa6 {
  background-image: url('../../../assets/images/runa6.svg');
}

.oculto {
  display: none;
  visibility: hidden;
}

#filtroModalFinPartida {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalFinPartida {
  position: fixed;
  height: 80%;
  width: 40%;
  background-color: #665d8e;
  border: solid #3b2853 5px;
  box-shadow:
    0px 15px 4px 4px rgba(0, 0, 0, 25%),
    0px 9px 0px 0px #3b2853;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'PressStart2P-Regular';
  color: white;
}

.logo {
  height: 35%;
  background-position: center;
}

#textoUno {
  font-size: 30px;
  text-align: center;
}

#textoDos {
  font-size: 25px;
  text-align: center;
}

#contenedorRunasPuntuacion {
  margin-top: 10%;
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contenedorBotones {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Botones */
.boton {
  margin-top: 2%;
  background-color: rgba(128, 88, 178, 0.83);
  height: 75%;
  width: 35%;
  color: white;
  font-family: 'PressStart2P-Regular';
  border: solid #5e3b8b 0.2em;
  font-size: 20px;
  box-shadow: 0px 15px 4px 4px rgba(0, 0, 0, 25%), 0px 9px 0px 0px #5e3b8b;
  cursor: pointer;
}

.boton:hover {
  transform: scale(1.02);
}

#modalGuardadoDatos {
    position: fixed;
    height: 60%;
    width: 40%;
    background-color: #665d8e;
    border: solid #3b2853 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'PressStart2P-Regular';
    color: white;
    box-shadow: 0px 15px 4px 4px rgba(0, 0, 0, 25%), 0px 9px 0px 0px #3b2853;
}

#inputNombre {
    width: 80%;
    height: 15%;
    background-color: #3b2853;
    border: solid #5e3b8b 3px;
    color: #c9c3e6;
    font-family: 'PressStart2P-Regular';
    font-size: 20px;
    text-align: center;
    outline: none;
    margin: 20px 0;
}

#inputNombre:focus {
    border-color: #8058b2;
    box-shadow: 0 0 10px #8058b2;
}

#modalGuardadoDatos #contenedorBotones {
    height: 20%;
}