main {
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/fondo.svg);
  background-size: cover;
}

#contenedor {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedores */
#contenedorSuperior {
  width: 100%;
  height: 12%;
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#contenedorCentral {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
}

#contenedorBotones {
  width: 80%;
  height: 40%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Icono sonido*/
#iconoSonido {
  height: 90%;
  width: 5.5%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2.5%;
}

#iconoSonido:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* Botones */
.boton {
  background-color: rgba(128, 88, 178, 0.83);
  height: 25%;
  width: 38%;
  color: white;
  font-family: 'PressStart2P-Regular';
  border: solid #5e3b8b 0.2em;
  font-size: 25px;
  box-shadow: 0px 15px 4px 4px rgba(0, 0, 0, 25%), 0px 9px 0px 0px #5e3b8b;
  cursor: pointer;
}

.boton:hover {
  transform: scale(1.02);
}

#botonSalir {
  width: 34%;
  margin-top: 2%;
}

@media (min-width: 2500px) {
  .boton {
    font-size: 35px;
  }

  #iconoSonido {
    height: 80%;
    width: 5%;
  }
}
